# API Configuration
NEXT_PUBLIC_API_URL=https://dev.hcmtech.vn

# Database Configuration (if needed)
DATABASE_URL=your_database_url_here

# Next.js Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here

# Other Configuration
NODE_ENV=development

NEXT_PUBLIC_API_KEY_GOONGMAP=VoqnNoD8bdeW3Tc9OWM3vx3ebBDXRCEKBBWEkF1o